services:
  threadsclip:
    image: ghcr.io/jasonheo1125/threadsclip-v1:latest
    container_name: threadsclip
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL}
      - AUTH_SECRET=${AUTH_SECRET}
      - AUTH_GOOGLE_ID=${AUTH_GOOGLE_ID}
      - AUTH_GOOGLE_SECRET=${AUTH_GOOGLE_SECRET}
      - AUTH_KAKAO_ID=${AUTH_KAKAO_ID}
      - AUTH_KAKAO_SECRET=${AUTH_KAKAO_SECRET}
      - NEXTAUTH_URL=https://snsclip.cloud
