services:
  threadsclip:
    image: ghcr.io/jasonheo1125/threadsclip-v1:latest
    container_name: threadsclip
    network_mode: host
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
